apiVersion: v1
kind: ConfigMap
metadata:
  name: falco
  namespace: falco
data:
  falco.yaml: |-
    append_output:
    - suggested_output: true

    base_syscalls:
      all: false
      custom_set: []
      repair: false

    buffer_format_base64: false
    buffered_outputs: false

    capture:
      default_duration: 5000
      enabled: false
      mode: rules
      path_prefix: /tmp/falco

    config_files:
    - /etc/falco/config.d

    engine:
      ebpf:
        buf_size_preset: 4
        drop_failed_exit: false
        probe: ${HOME}/.falco/falco-bpf.o
      kind: modern_ebpf
      kmod:
        buf_size_preset: 4
        drop_failed_exit: false
      modern_ebpf:
        buf_size_preset: 4
        cpus_for_each_buffer: 2
        drop_failed_exit: false

    falco_libs:
      snaplen: 80
      thread_table_auto_purging_interval_s: 300
      thread_table_auto_purging_thread_timeout_s: 300
      thread_table_size: 262144

    file_output:
      enabled: false
      filename: ./events.txt
      keep_alive: false

    grpc:
      bind_address: unix:///run/falco/falco.sock
      enabled: false
      threadiness: 0

    grpc_output:
      enabled: false

    http_output:
      enabled: false
      url: ""
      echo: false
      keep_alive: false
      ca_path: /etc/falco/certs/
      ca_cert: ""
      ca_bundle: ""
      client_cert: /etc/falco/certs/client/client.crt
      client_key: /etc/falco/certs/client/client.key
      insecure: false
      compress_uploads: false
      max_consecutive_timeouts: 5
      mtls: false
      user_agent: falcosecurity/falco

    json_output: false
    json_include_output_property: true
    json_include_tags_property: true
    json_include_output_fields_property: true
    json_include_message_property: false

    libs_logger:
      enabled: true
      severity: info

    load_plugins:
    - container

    log_level: info
    log_stderr: true
    log_syslog: true

    metrics:
      enabled: true
      http_server: true
      http_port: 8765
      interval: 1s
      output_type: prometheus

    output_timeout: 2000

    outputs_queue:
      capacity: 0

    plugins:
    - name: container
      library_path: libcontainer.so
      label_max_len: 100
      with_size: false
      hooks:
      - create
      init_config:
        engines:
          docker:
            enabled: true
            sockets:
            - /var/run/docker.sock
          podman:
            enabled: true
            sockets:
            - /run/podman/podman.sock
          cri:
            enabled: true
            sockets:
            - /run/containerd/containerd.sock
            - /run/crio/crio.sock
            - /run/k3s/containerd/containerd.sock
            - /run/host-containerd/containerd.sock
          containerd:
            enabled: true
            sockets:
            - /run/host-containerd/containerd.sock
          bpm:
            enabled: true
          libvirt_lxc:
            enabled: true
          lxc:
            enabled: true

    plugins_hostinfo: true
    priority: debug

    program_output:
      enabled: false
      program: |
        jq '{text: .output}' | curl -d @- -X POST https://hooks.slack.com/services/XXX
      keep_alive: false

    rule_matching: first

    rules_files:
    - /etc/falco/falco_rules.yaml
    - /etc/falco/falco_rules.local.yaml
    - /etc/falco/rules.d

    stdout_output:
      enabled: true

    syscall_event_drops:
      actions:
      - log
      - alert
      max_burst: 1
      rate: 0.03333
      threshold: 0.1
      simulate_drops: false

    syscall_event_timeouts:
      max_consecutives: 1000

    syslog_output:
      enabled: true

    watch_config_files: true

    webserver:
      enabled: true
      listen_address: 0.0.0.0
      listen_port: 8765
      k8s_healthz_endpoint: /healthz
      ssl_enabled: false
      ssl_certificate: /etc/falco/falco.pem
      prometheus_metrics_enabled: true
      threadiness: 0

